.cylindervis-component {
  display: flex;
  .controls {
    padding: 20px;
    > div {
      margin-bottom: 5px;
    }
  }
  label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 10px;
  }
  .react-native-slider {
    margin-right: 10px;
  }
  .react-numeric-input input {
    width: 80px;
  }
}
