.cylindervis-component {
  display: flex;
  h2 {
    font-weight: light;
    color: grey;
    font-size: 13px;
    margin: .5em 0;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    margin: 1em 0;
    padding: 0; 
  }
  .controls {
    padding: 20px;
    > div {
      margin-bottom: 5px;
      position: relative;
    }
  }
  label {
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 10px;
    font-size: 15px;
  }
  .react-native-slider {
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  .react-numeric-input input {
    width: 80px;
  }
}
